[user]
        email = s62802@gmail.com
        name = Aaron

[push]
    autoSetupRemote = true

[include]
        path = ~/.gitalias

[credential]
        helper = osxkeychain
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
